@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letter styling taken from SEMoS 7.7 */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End of letter styling */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}
/* End epigraphs in section headers */

/* Poetry */
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

.dl2 span:first-child{
	vertical-align: 100%;
}
/* End poetry */

q{
	font-style: italic;
}

/* Compact the list in Hairy Ones */
ol ol{
	margin-bottom: 0;
	margin-top: 0;
}

/* Force the signatures apart in Black Drama ch. 13 */
#the-black-drama-13 blockquote > footer > div{
	display: table;
	width: 100%;
}

#the-black-drama-13 blockquote > footer > div > div{
	display: table-row;
}

#the-black-drama-13 blockquote > footer > div > div > p{
	display: table-cell;
}

/* Center and format the blockquotes in Fearful Rock */
#fearful-rock blockquote{
	text-align: center;
}

#fearful-rock blockquote > * + p{
	text-indent: 0;
}

#fearful-rock-9 blockquote{
	font-variant: small-caps;
}
